[MASTER]
ignore=test

[FORMAT]
max-line-length=120

[DESIGN]
max-branches=75
max-locals=30
max-module-lines=1500
max-nested-blocks=12
max-statements=235

[MESSAGES CONTROL]
disable=
	arguments-differ,
	broad-except,
	consider-using-f-string,
	consider-using-with,
	invalid-name,
	no-member,
	super-with-arguments,
	undefined-loop-variable,
	unspecified-encoding,
	unused-argument,
	unused-variable

